/* 
#EAECED
#F3F4F5
#D9E1E6
#3F484E
#0F90E6
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #F3F4F5;
  color: #3F484E;
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.center-everything {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #0F90E6;
  color: #F3F4F5;
  padding: 1.2rem 5.6rem;
}

.btn-primary:hover {
  background-color: #0e82cf;
}

h1.section-title {
  font-size: 4.0rem;
  color: #0b65a1;
  margin-bottom: 3.2rem;
}

/* hero section */


.navigation-bar {
  height: 5.6rem;
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo {
  height: 4.8rem;
}

.navigation-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navigation-link {
  display: inline-block;
}

.navigation-link a {
  text-decoration: none;
  cursor: pointer;
  color: #3F484E;
  padding: 0.4rem 1.6rem;
  border-radius: 4px;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.navigation-link a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #b7def8;
}

.hero {
  margin-top: 4.8rem;
}

.hero-grid {
  padding: 3.2rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.portfolio-title-container {
  display: flex;
  align-items: center;
}

.introduction h1 {
  font-size: 4.0rem;
  color: #0b65a1;
  padding-bottom: 1.6rem;
}

.introduction h2 {
  font-size: 3.2rem;
}

.introduction h3 {
  font-size: 2.4rem;
  padding-bottom: 0.8rem;
}

.introduction h4 {
  font-size: 1.6rem;
  padding-bottom: 1.6rem;
  font-weight: 500;
}

.portfolio-image-container {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #F5F7F9;
  border-radius: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-shadow: 0 2.4rem 4.8rem rgba(217, 225, 230, 0.075);
}

img.portfolio-image {
  width: 50%;
  align-self: center;
  justify-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.github-card {
  width: 25%;
  display: inline-block;
  position: absolute;
  background-color: #F5F7F9;
  box-shadow: 0 2.4rem 4.8rem rgba(217, 225, 230, 0.8);
  bottom: -4%;
  left: -8%;
  padding: 2.4rem;
  border-radius: 2rem;
  overflow: hidden;
}

.github-card:hover {
  transform: translateY(-0.2rem);

  box-shadow: 0 4.8rem 5.6rem #D9E1E6;
  transition: all 0.4s;
}

.github-card::after {
  content: url('asset/github-logo.png');
  position: absolute;
  bottom: -4rem;
  right: -11.2rem;
  transform: rotate(-45deg) scale(0.4);
  background-color: #6e5494;
  padding: 1.6rem 10rem 3.2rem;
}

.github-card:hover::after {
  transform: rotate(-45deg) scale(0.5);
  transition: all 0.4s;
}

.github-img {
  width: 100%;
}

p.github-nickname {
  color: #6e5494;
  font-size: 2.4rem;
  font-weight: 600;
}

p.github-username {
  font-size: 1.4rem;
}

/* Biography Section*/

.biography {
  margin-top: 5.6rem;
}

.biography-grid {
  gap: 4.8rem;
  margin-bottom: 3.2rem;
}

.biography-content {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  text-align: justify;
}

.techstack {
  column-gap: 1.2rem;
  row-gap: 2.0rem;
}

.techstack-img-container {
  padding: 0.8rem 0;
  transition: all 0.3s;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.techstack-img-container:hover {
  transform: translateY(-1rem);
}

.techstack-img {
  height: 5.6rem;
  filter: grayscale(100%);
  opacity: 70%;
  transition: all 0.3s;
}

.techstack-name {
  position: absolute;
  bottom: -20px;
  visibility: hidden;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: rgba(15, 144, 230, 0.1);
  color: #0F90E6;
  border-radius: 0.4rem;
  padding: 0.4rem 1.6rem;
}

.techstack-img-container:hover .techstack-name {
  visibility: visible;
}

.techstack-img-container:hover .techstack-img {
  filter: grayscale(0%);
  opacity: 1;
}

/* Projects Section*/
.projects {
  margin-top: 5.6rem;
}