/* 
#EAECED
#F3F4F5
#D9E1E6
#3F484E
#0F90E6
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #F3F4F5;
  color: #3F484E;
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

h2 {
  margin-bottom: 0.8rem;
}

p {
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.center-everything {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #0F90E6;
  color: #F3F4F5;
  padding: 1.2rem 5.6rem;
}

.btn-primary:hover {
  background-color: #0e82cf;
}

h1.section-title {
  font-size: 4.0rem;
  color: #0b65a1;
  margin-bottom: 3.2rem;
}

/* hero section */


.navigation-bar {
  height: 5.6rem;
  padding: 0 2.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: rgb(234, 236, 237, 0.5);
}

.app-logo {
  height: 4.8rem;
}

.app-logo-lg {
  height: 9.6rem;
}

.navigation-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navigation-link {
  display: inline-block;
}

.navigation-link a {
  text-decoration: none;
  cursor: pointer;
  color: #3F484E;
  padding: 0.4rem 1.6rem;
  border-radius: 4px;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.navigation-link a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #b7def8;
}

.hero {
  padding-top: 5.6rem;
}

.hero-grid {
  padding: 3.2rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.portfolio-title-container {
  display: flex;
  align-items: center;
}

.introduction h1 {
  font-size: 4.0rem;
  color: #0b65a1;
  padding-bottom: 1.6rem;
}

.introduction h2 {
  font-size: 3.2rem;
}

.introduction h3 {
  font-size: 2.4rem;
  padding-bottom: 0.8rem;
}

.introduction h4 {
  font-size: 1.6rem;
  padding-bottom: 1.6rem;
  font-weight: 500;
}

.portfolio-image-container {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #F5F7F9;
  border-radius: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-shadow: 0 2.4rem 4.8rem rgba(217, 225, 230, 0.075);
}

img.portfolio-image {
  width: 50%;
  align-self: center;
  justify-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.github-card {
  width: 25%;
  display: inline-block;
  position: absolute;
  background-color: #F5F7F9;
  box-shadow: 0 2.4rem 4.8rem rgba(217, 225, 230, 0.8);
  bottom: -4%;
  left: -8%;
  padding: 2.4rem;
  border-radius: 2rem;
  overflow: hidden;
}

.github-card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 4.8rem 5.6rem #D9E1E6;
  transition: all 0.4s;
}

.github-card::after {
  content: url('asset/github-logo.png');
  position: absolute;
  bottom: -4rem;
  right: -11.2rem;
  transform: rotate(-45deg) scale(0.4);
  background-color: #6e5494;
  padding: 1.6rem 10rem 3.2rem;
}

.github-card:hover::after {
  transform: rotate(-45deg) scale(0.5);
  transition: all 0.4s;
}

.github-img {
  width: 100%;
}

p.github-nickname {
  color: #6e5494;
  font-size: 2.4rem;
  font-weight: 600;
}

p.github-username {
  font-size: 1.4rem;
}

/* Biography Section*/

.biography {
  margin-top: 5.6rem;
}

.biography-grid {
  gap: 4.8rem;
  margin-bottom: 3.2rem;
}

.biography-content {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  text-align: justify;
}

.techstack {
  column-gap: 1.2rem;
  row-gap: 2.0rem;
}

.techstack-img-container {
  padding: 0.8rem 0;
  transition: all 0.3s;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.techstack-img-container:hover {
  transform: translateY(-1rem);
}

.techstack-img {
  height: 5.6rem;
  filter: grayscale(100%);
  opacity: 70%;
  transition: all 0.3s;
}

.techstack-name {
  position: absolute;
  bottom: -20px;
  visibility: hidden;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: rgba(15, 144, 230, 0.1);
  color: #0F90E6;
  border-radius: 0.4rem;
  padding: 0.4rem 1.6rem;
}

.techstack-img-container:hover .techstack-name {
  visibility: visible;
}

.techstack-img-container:hover .techstack-img {
  filter: grayscale(0%);
  opacity: 1;
}

/* Projects Section*/
.projects {
  margin-top: 5.6rem;
}

.projects-grid {
  column-gap: 1.6rem;
  row-gap: 2.4rem;
}

.project-link {
  transition: all 0.2s;
}

.project-link:hover {
  transform: scale(1.03);
}

.project-view {
  margin: 1.2rem;
  aspect-ratio: 16/9;
  background-color: #EAECED;
  border-radius: 1.6rem;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-self: center;
}

.project-view:hover {
  background-color: #F3F4F5;
}

.project-view>img {
  max-width: 100%;
  aspect-ratio: 16/9;
  border-radius: 1.6rem;
}

.jwt-project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.jwt-project>img {
  height: 6.4rem;
  justify-self: center;
  align-self: center;
}

.project-desc {
  padding: 0.8rem 1.6rem;
  align-self: center;
  text-align: justify;
}

.project-desc p {
  margin-bottom: 1.2rem;
}

.projects em {
  font-weight: bold;
}

.project-link.mobile-project-link {
  display: flex;
  justify-content: center;
}

.project-view.mobile-project-view {
  width: 50%;
  aspect-ratio: 9/18;
  flex-direction: column;
  display: grid;
}

.mobile-project-view>img {
  align-self: center;
  justify-self: center;
  object-fit: contain;
  width: 60%;
}

.mobile-app-link:active,
.mobile-app-link:visited,
.mobile-app-link:hover,
.mobile-app-link:link {
  color: #0F90E6;
}

footer {
  margin-top: 5.6rem;
  padding: 8rem 0;
  background-color: #D9E1E6;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer h1 {
  font-size: 2.4rem;
  color: #0b65a1;
  padding-bottom: 1.6rem;
}

.footer h6 {
  padding-top: 1.2rem;
  font-size: 1.2rem;
}

@media (max-width: 1250px) {
  html {
    font-size: 50%;
  }

  .hero {
    padding-top: 5.6rem;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 50%;
  }

  .hero {
    padding-top: 5.6rem;
  }

  .github-card::after {
    bottom: -4.5rem;
    right: -11.8rem;
    transform: rotate(-45deg) scale(0.38);
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 37.5%;
  }

  .hero {
    padding-top: 5.6rem;
  }

  .github-card::after {
    bottom: -5.9rem;
    right: -13.4rem;
    transform: rotate(-45deg) scale(0.3);
  }
}

@media (max-width: 767px) {
  .hero {
    padding-top: 5.6rem;
  }

  .container {
    padding: 0 6.4rem;
  }

  .github-card {
    width: 30%;
  }

  .biography-grid {
    grid-template-columns: 1fr;
    row-gap: 1.2rem;
  }

  .biography-content {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 31.25%;
  }

  .hero {
    padding-top: 5.6rem;
  }

  .hero-grid {
    grid-template-columns: 2fr 3fr;
    gap: 4rem;
  }

  .github-card::after {
    bottom: -6.9rem;
    right: -14.4rem;
  }
}

@media (max-width: 450px) {
  .hero {
    padding-top: 5.6rem;
  }

  .hero-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-title-container {
    justify-content: center;
  }

  .portfolio-image-container {
    justify-self: center;
    align-self: center;
    width: 60%;
    padding-bottom: 60%;
  }

  .github-card::after {
    transform: rotate(-45deg) scale(0.26);
  }

  .projects-grid {
    grid-template-columns: 1fr;
    row-gap: 1.2rem;
  }

  .project-view.mobile-project-view {
    width: 30%;
  }

  .project-desc:nth-of-type(2) {
    grid-row-start: 4;
  }

  .project-desc:nth-of-type(4) {
    grid-row-start: 8;
  }
}

@media (max-width: 400px) {
  .portfolio-image-container {
    width: 90%;
    padding-bottom: 90%;
  }
}